build
dist
node_modules

.merlin
.cljs_node_repl
.cpcache
.cache
.DS_Store

*.swp

js/**/lib/bs
js/packages/**/binaries/
js/packages/**/*.min.js
/runtime/.DS_Store
/js/packages/core/.DS_Store
/js/packages/.DS_Store
/js/.DS_Store

